1.1 Write a Python Program to implement your own myreduce() function which works exactly like Python's built-in function reduce()

In [1]:
#myReduce function definition
def myReduce(fn, seq):
  result = seq[0]
  for i in seq[1:]:
   result = fn(result, i)
  return result
#lambda function to find maximum of the numbers in the list
max_find=lambda a,b: a if (a>b) else b
#list initialization
lst=[47,11,42,13]
#using user-defined function myReduce
myReduce(max_find,lst)

47

1.2 Write a Python program to implement your own myfilter() function which works exactly like Python's built-in function filter()

In [2]:
#user-defined function myFilter definition
def myFilter(fn, seq):
 result = []
 for i in seq:
  if fn(i):
   result.append(i)
 return result

In [3]:
#to filter even numbers using user-defined function myFilter
lst=[1,2,3,4,5,6,7,8,9,10]
list(myFilter(lambda x:x%2 ==0 , lst))

[2, 4, 6, 8, 10]

In [4]:
#to filter odd numbers using user-defined function myFilter
list(myFilter(lambda x:x%2 !=0 , lst))

[1, 3, 5, 7, 9]

2. Implement List comprehensions to produce the following lists.

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz','zzzz']

In [5]:
lst= ['x','y','z']
result = [ i*num for i in lst for num in range(1,5)  ]
print(result)

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [6]:
lst = ['x','y','z']
result = [ i*num for num in range(1,5) for i in lst  ]
print(result)

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [7]:
lst = [2,3,4]
result = [ [i+num] for i in lst for num in range(0,3)]
print(result)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [8]:
lst = [2,3,4,5]
result = [ [i+num for i in lst] for num in range(0,4)  ]
print(result)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [9]:
lst=[1,2,3]
result = [ (y,x) for x in lst for y in lst]
print(result)

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]